/* Global Styles */

/* ------------------------------- */
html {
	background-color: #f8f8f8;
}
body {
	padding: 0;
	margin: 0 auto !important;
	
	font-size: 12px;
	
	background-color: #f8f8f8;
}

/* ------------------------------- */

#wrapper {
	width: 100%;
}

#page-wrapper {
    padding: 50px 14px 0;
    min-height: 300px;
    background-color: #fff;
	
	border-bottom: 1px solid #fff;
	border-right: 1px solid #E7E7E7;
}

@media(min-width:930px) {
    #page-wrapper {
        position: inherit;
        margin: 0 0 0 250px;
        padding: 50px 30px 5px 30px;
        border-left: 1px solid #e7e7e7;
    }
	
	#wrapper .navbar-static-side {
		position: fixed !important;
		width: 250px;
	}
}

.navbar-static-side ul li {
    border-bottom: 1px solid #e7e7e7;
}
.navbar-static-side ul li.has-second-level>a.active {
    background: rgba(0, 0, 0, 0.03);
}

@media (max-width: 930px) {
	.navbar-toggle {
		display: block;
		position: relative;
		float: right;
		margin-right: 15px;
		padding: 9px 10px;
		margin-top: 8px;
		margin-bottom: 8px;
		background-color: transparent;
		background-image: none;
		border: 1px solid transparent;
		border-radius: 4px;
	}
	.navbar-header {
		width: 100%;
	}
	.navbar-top-links {
		float: left !important;
	}
	.navbar-top-links li a {
		min-height: 24px !important;
		padding: 10px !important;
	}
	.navbar-fixed-top {
		position: relative;
	}
	#page-wrapper {
		padding-top: 0;
	}
}
@media (min-width: 931px) {
	.sidebar-collapse {
		display: block !important;
		height: auto !important;
		visibility: visible !important; 
	}
}

/* ------------------------------- */

/* Top Right Navigation Dropdown Styles */

 .navbar-top-links li {
    display: inline-block;
}

.navbar-top-links li:last-child {
    margin-right: 15px;
}

.navbar-top-links li a {
    padding: 15px;
    min-height: 50px;
}

.navbar-top-links .dropdown-menu li {
    display: block;
}

.navbar-top-links .dropdown-menu li:last-child {
    margin-right: 0;
}

.navbar-top-links .dropdown-menu li > * {
    padding: 3px 20px;
    min-height: 0;
}

.navbar-top-links .dropdown-menu li a div {
    white-space: normal;
}

.navbar-top-links .dropdown-metas,
.navbar-top-links .dropdown-vencimentos {
    width: 310px;
    min-width: 0;
}

.navbar-top-links .dropdown-metas {
    margin-left: -59px;
}

.navbar-top-links .dropdown-vencimentos {
    margin-left: -123px;
}

.navbar-top-links .dropdown-user {
    right: 0;
    left: auto;
}

/* Sidebar Menu Styles */

 .sidebar-search {
    padding: 15px;
}

.arrow {
    float: right;
}

.fa.arrow:before {
    content: "\f104";
}

.active > a > .fa.arrow:before {
    content: "\f107";
}

.nav-second-level li,
.nav-third-level li {
    border-bottom: none !important;
}

.nav-second-level li a {
    padding-left: 37px;
}
.nav-second-level li a:not(.active) {
	opacity: 0.8;
}
.nav-second-level li a:not(.active):hover {
	opacity: 1;
}
.nav a.active {
	background: rgba(0, 0, 0, 0.06);
	
	text-shadow: 1px 0 1px #FFF, 0 0 3px rgba(255, 255, 255, 0.5), 0 0 6px rgba(255, 255, 255, 0.8);
}
.nav-third-level li a {
    padding-left: 52px;
}

@media(min-width:930px) {
    .navbar-static-side {
        z-index: 1;
        position: absolute;
        width: 250px;
		margin-top: 80px;
		border-top: 1px solid #e7e7e7;
    }

    .navbar-top-links .dropdown-metas,
    .navbar-top-links .dropdown-vencimentos {
        margin-left: auto;
    }
}

/* EXTENDE / CORRIGE / OTIMIZA BOOTSTRAP */
.form-control-feedback {
	line-height: 34px;
}
.page-title {
	margin-top: 30px;
	padding-bottom: 0;
}
.modal-footer {
	margin-top: 15px;
}

.table td {
	height: 26px;
	vertical-align: middle !important;
}
.table tr th.codigo {
	width: 70px;
}
.table tr th.acoes {
	width: 80px;
}
.table tr th.marcador {
	width: 90px;
}
.table tr th.observacoes, 
.table tr td.observacoes {
	padding-left: 7%;
}
.table tr th.indicador {
	width: 110px;
}


.form-inputs-container {
	max-width: 880px;
}
.form-inputs-container.full {
	max-width: none;
}

.messages-container ul {
	padding: 0;
}
.messages-container ul li {
	list-style: none;
	padding: 9px 12px;
	margin-bottom: 5px;
}
.messages-container ul li:before {
	content: '\f00d';
	float: right;
	font-family:'FontAwesome';
	cursor: pointer;
}

.btn-group-actions .btn {
	margin-right: 5px;
}
	
@media(max-width:768px) {
	.form-group .control-label:not(:first-child) {
		margin-top: 15px;
	}

	.panel-default>.panel-heading {
		overflow: hidden;
	}
	.panel-default>.panel-heading .pull-right {
		float: none !important;
		margin-top: 10px;
	}

	/* Otimiza a área de visualização da tabela */
	.table-responsive {
		width: 100%;
		padding-right: 30px;
		margin-left: -15px;
		margin-right: -15px;

		-webkit-box-sizing: content-box;
		-moz-box-sizing: content-box;
		box-sizing: content-box;

		border: none;
	}
	.table-responsive table td {
		font-size: 11px;
	}
}

/* Botões Adicionais */
/* Botão secundário */
.btn-secondary {
  color: #fff;
  background-color: #5F5F5F;
  border-color: #5F5F5F;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open .dropdown-toggle.btn-secondary {
  color: #5F5F5F;
  background-color: #fff;
}
.btn-secondary:active,
.btn-secondary.active,
.open .dropdown-toggle.btn-secondary {
  background-image: none;
}
.btn-secondary.disabled,
.btn-secondary[disabled],
fieldset[disabled] .btn-secondary,
.btn-secondary.disabled:hover,
.btn-secondary[disabled]:hover,
fieldset[disabled] .btn-secondary:hover,
.btn-secondary.disabled:focus,
.btn-secondary[disabled]:focus,
fieldset[disabled] .btn-secondary:focus,
.btn-secondary.disabled:active,
.btn-secondary[disabled]:active,
fieldset[disabled] .btn-secondary:active,
.btn-secondary.disabled.active,
.btn-secondary[disabled].active,
fieldset[disabled] .btn-secondary.active {
  color: #FFF;
  background-color: #79BFF1;
  border-color: #79BFF1;
}
.btn-secondary .badge {
  color: #5F5F5F;
  background-color: #fff;
}
/* Cria botão estilo terciário */
.btn-tertiary {
  color: #fff;
  background-color: #BA3232;
  border-color: #BA3232;
}
.btn-tertiary:hover,
.btn-tertiary:focus,
.btn-tertiary:active,
.btn-tertiary.active,
.open .dropdown-toggle.btn-tertiary {
  color: #BA3232;
  background-color: #fff;
}
.btn-tertiary:active,
.btn-tertiary.active,
.open .dropdown-toggle.btn-tertiary {
  background-image: none;
}
.btn-tertiary.disabled,
.btn-tertiary[disabled],
fieldset[disabled] .btn-tertiary,
.btn-tertiary.disabled:hover,
.btn-tertiary[disabled]:hover,
fieldset[disabled] .btn-tertiary:hover,
.btn-tertiary.disabled:focus,
.btn-tertiary[disabled]:focus,
fieldset[disabled] .btn-tertiary:focus,
.btn-tertiary.disabled:active,
.btn-tertiary[disabled]:active,
fieldset[disabled] .btn-tertiary:active,
.btn-tertiary.disabled.active,
.btn-tertiary[disabled].active,
fieldset[disabled] .btn-tertiary.active {
  color: #FFF;
  background-color: #F08988;
  border-color: #F08988;
}
.btn-tertiary .badge {
  color: #BA3232;
  background-color: #fff;
}
/* Cria botão estilo quaternário */
.btn-quaternary {
 color: #fff;
  background-color: #26913F;
  border-color: #26913F;
}
.btn-quaternary:hover,
.btn-quaternary:focus,
.btn-quaternary:active,
.btn-quaternary.active,
.open .dropdown-toggle.btn-quaternary {
  color: #26913F;
  background-color: #fff;
}
.btn-quaternary:active,
.btn-quaternary.active,
.open .dropdown-toggle.btn-quaternary {
  background-image: none;
}
.btn-quaternary.disabled,
.btn-quaternary[disabled],
fieldset[disabled] .btn-quaternary,
.btn-quaternary.disabled:hover,
.btn-quaternary[disabled]:hover,
fieldset[disabled] .btn-quaternary:hover,
.btn-quaternary.disabled:focus,
.btn-quaternary[disabled]:focus,
fieldset[disabled] .btn-quaternary:focus,
.btn-quaternary.disabled:active,
.btn-quaternary[disabled]:active,
fieldset[disabled] .btn-quaternary:active,
.btn-quaternary.disabled.active,
.btn-quaternary[disabled].active,
fieldset[disabled] .btn-quaternary.active {
  color: #FFF;
  background-color: #69C387;
  border-color: #69C387;
}
.btn-quaternary .badge {
  color: #26913F;
  background-color: #fff;
}

/* Adiciona OUTLINE ao botões */
.btn-outline {
    color: inherit;
    background-color: transparent;
    transition: all .5s;
}
.btn-default.btn-outline {
    color: #666;
	
	border-color: #999;
}
.btn-default.btn-outline:hover,
.btn-default.btn-outline:focus,
.btn-default.btn-outline:active,
.btn-default.btn-outline.active,
.open .dropdown-toggle.btn-default.btn-outline {
    background-color: #b0b0b0;
	
	color: #666;
	
	border-color: #666;
}

.btn-primary.btn-outline {
    color: #428bca;
}
.btn-primary.btn-outline:hover,
.btn-primary.btn-outline:focus,
.btn-primary.btn-outline:active,
.btn-primary.btn-outline.active,
.open .dropdown-toggle.btn-primary.btn-outline {
    background-color: #428bca;
	
	color: #FFF;
}

.btn-secondary.btn-outline {
    color: #5F5F5F;
}
.btn-secondary.btn-outline:hover,
.btn-secondary.btn-outline:focus,
.btn-secondary.btn-outline:active,
.btn-secondary.btn-outline.active,
.open .dropdown-toggle.btn-secondary.btn-outline {
    background-color: #5F5F5F;
	
	color: #FFF;
}

.btn-tertiary.btn-outline {
    color: #BA3232;
}
.btn-tertiary.btn-outline:hover,
.btn-tertiary.btn-outline:focus,
.btn-tertiary.btn-outline:active,
.btn-tertiary.btn-outline.active,
.open .dropdown-toggle.btn-tertiary.btn-outline {
    background-color: #BA3232;
	
	color: #FFF;
}

.btn-quaternary.btn-outline {
    color: #26913F;
}
.btn-quaternary.btn-outline:hover,
.btn-quaternary.btn-outline:focus,
.btn-quaternary.btn-outline:active,
.btn-quaternary.btn-outline.active,
.open .dropdown-toggle.btn-quaternary.btn-outline {
    background-color: #26913F;
	
	color: #FFF;
}

.btn-success.btn-outline {
    color: #5cb85c;
}
.btn-success.btn-outline:hover,
.btn-success.btn-outline:focus,
.btn-success.btn-outline:active,
.btn-success.btn-outline.active,
.open .dropdown-toggle.btn-success.btn-outline {
    background-color: #5cb85c;
	
	color: #FFF;
}

.btn-info.btn-outline {
    color: #5bc0de;
}
.btn-info.btn-outline:hover,
.btn-info.btn-outline:focus,
.btn-info.btn-outline:active,
.btn-info.btn-outline.active,
.open .dropdown-toggle.btn-info.btn-outline {
	background-color: #5bc0de;
	
	color: #FFF;
}

.btn-warning.btn-outline {
    color: #f0ad4e;
}
.btn-warning.btn-outline:hover,
.btn-warning.btn-outline:focus,
.btn-warning.btn-outline:active,
.btn-warning.btn-outline.active,
.open .dropdown-toggle.btn-warning.btn-outline {
    background-color: #f0ad4e;
	
	color: #FFF;
}

.btn-danger.btn-outline {
    color: #d9534f;
}
.btn-danger.btn-outline:hover,
.btn-danger.btn-outline:focus,
.btn-danger.btn-outline:active,
.btn-danger.btn-outline.active,
.open .dropdown-toggle.btn-danger.btn-outline {
    background-color: #d9534f;
	
	color: #FFF;
}

.btn.btn-outline.active {
    color: #fff;
	
	text-decoration: none;
}

.btn.btn-outline.disabled, 
.btn-default.btn-outline.disabled,
.btn-primary.btn-outline.disabled,
.btn-secondary.btn-outline.disabled,
.btn-tertiary.btn-outline.disabled,
.btn-quaternary.btn-outline.disabled,
.btn-success.btn-outline.disabled,
.btn-info.btn-outline.disabled,
.btn-warning.btn-outline.disabled,
.btn-danger.btn-outline.disabled {
    color: #fff;
}


/* ------------------------------- */
.btn-to-top {
	position: fixed;
	left: 50%;
	bottom: 0;
	margin-left: -33px;
	
	background-color: rgba(255, 255, 255, 0.8);
}

/* Login Page */
 .login-panel {
    margin-top: 25%;
}

/* Circle Buttons */
 .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.428571429;
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    border-radius: 25px;
    font-size: 18px;
    line-height: 1.33;
}

.btn-circle.btn-xl {
    width: 70px;
    height: 70px;
    padding: 10px 16px;
    border-radius: 35px;
    font-size: 24px;
    line-height: 1.33;
}

.show-grid [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    background-color: #eee !important;
}

.show-grid {
    margin: 15px 0;
}

/* Acertos no layout */

.btn-group-xs > .btn {
  padding: 5px 5px;
}
.text-xs {
	font-size: 0.750em;
}
.text-sm {
	font-size: 0.917em;
}
.text-md {
	font-size: 1em;
}
.text-lg {
	font-size: 1.250em;
}
.spacement-left {
	margin-left: 30px;
}
.spacement-right {
	margin-right: 30px;
}
.display-none {
	display: none !important;
}
.text-upper {
	text-transform: uppercase;
}
.data-aula {
	width: 95px;
}
th.observacao {
	width: 40px;
}
.fa-info.observacao  {
	cursor: help;
}
.search-container {
	margin-bottom: 20px;
	margin-top: 30px;
}

/* Loader */
.loader {
	position: fixed;
	left: 50%;
	top: 50%;
	margin-left: -18px;
	margin-top: -18px;
	width: 36px;
	height: 36px;
	z-index: 900;
	
	background: url(../img/ajax-loader2.gif.faces) rgba(255, 255, 255, 0.9) no-repeat center center;
	background-size: 100%;
	
	border-radius: 100%;
}

/* Login */
.container-signin {
	max-width: 480px;
	padding-top: 80px;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}

.chamada-realizada {
    display: block;
    margin-bottom: 15px;
    
    font-size: 11px;
}

.check-falta-justificada.disabled:not([disabled]) {
	cursor:not-allowed;
	filter:alpha(opacity=50);
	-webkit-box-shadow:none;
	box-shadow:none;
	opacity: .5
}

/* Impressão */
@media print {
  body {
  	font-size: 10pt
  }
  
  .navbar, 
  .navbar-default {
  	display: none;
  }
  
  #page-wrapper {
  	margin: 0;
  	padding: 20px;
  }
  
  .page-header {
  	margin: 0;
  	border: none;
  }
  .page-title {
  margin-top: 0;
  }
}